input[type="password"] {
    height: 40px;
    border-radius: 2px;
    border: solid 1px #656565 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    resize: none !important;
}
