.search-error-text {
  font-family: AvenirNext-Regular;
  color: red;
  text-transform: none !important;
  position: relative;
  font-size: 0.875rem;
  top: -10px;
}

.track-search {
  background-color: #FFFFFF;
}

.input-search-error {
  border:solid 2px red !important;
}