.img-bg {
	top:0px;
	right:1px;
	position:absolute;
	opacity: 0.3;
	height: 45%;
}
.no-order{
  	font-size: 16px;
  	font-weight: bold;
  	font-style: normal;
  	font-stretch: normal;
  	line-height: normal;
  	letter-spacing: 0.4px;
  	text-align: center;
  	color: #15223d;
}
.get-started{
  margin-top:50px; 
  min-height: 300px
}
@media (max-width: 1024px) {
  .get-started {
    margin-top: 222px;
    min-height: 180px;
  }
  .inline-pro{
    margin-left: 26px;
  }
}