.section-header-modal {
    font-family: AvenirNext-Demibold;
    font-size: 1rem !important;
    color: #656565 !important;
}

.modal-suggestion-details {
    width: 164px;
    text-align: left;
    margin-left:30px;

    span {
        font-size: .95rem;
    }
}